.box1-red {
	width: 80%;
	height: 80%;
	background-color: red;
	position: absolute;
	left: 20%;
	bottom: 20%;
}

.line1 {
	width: 30px;
	height: 100%;
	background-color: black;
	position: absolute;
	left: 20%;
}

.line2 {
	width: 100%;
	height: 30px;
	background-color: black;
	position: absolute;
	bottom: 20%;
}

.line3 {
	width: 20%;
	height: 40px;
	background-color: black;
	position: absolute;
	top: 30%;
}

.line4 {
	width: 10%;
	height: 35px;
	background-color: black;
	position: absolute;
	left: 90%;
	bottom: 8%;
}

.line5 {
	width: 30px;
	height: 20%;
	background-color: black;
	position: absolute;
	left: 90%;
	top: 80%;
}

.white1 {
	width: 20%;
	height: 80%;
	background-color: white;
	position: absolute;
}

.white2 {
	width: 80%;
	height: 20%;
	background-color: white;
	position: absolute;
	top: 80%;
	left: 20%;
}

.box2-blue {
	width: 20%;
	height: 20%;
	background-color: blue;
	position: absolute;
	top: 80%;
}

.box3-yellow {
	width: 10%;
	height: 10%;
	background-color: yellow;
	position: absolute;
	top: 90%;
	left: 90%;
}